@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

    &__enlace{
        color: v.$principal;
    }

    &__enlace-prof{
        @include m.boton(v.$principal, v.$blanco);
        width: min(95%, 30rem); 
        margin: 0 auto;

    }

    &--centrar{
        @extend .acciones;
        justify-content: center;
    }
}