@use 'base/variables' as v;
@use 'base/mixins' as m;

.navegacion{
    display: flex;
    flex-direction: column;
    @include m.desktop{
        flex-direction: row;
    }

    &__enlace{
        color: v.$principal;
        font-size: 2.2rem;
        padding: 2rem;
        font-weight: v.$black;
        text-align: center;

        &:hover,
        &--actual{
            background-color: v.$blanco;
            color: v.$principal;
        }
    }

}