@use 'base/variables' as v;
@use 'base/mixins' as m;

.citasResumen{
    &__contenedor-boton{
        @include m.tablet{
            display: flex;
            justify-content: flex-end;
            margin-bottom: 3rem;
        }
    }

    &__boton{
        @include m.boton(v.$principal, v.$blanco);
        text-transform: uppercase;
        font-size: 1.4rem;
        @include m.tablet{
            width: auto;
        }
    }

    &__contenedor{
        @include m.contenedor;
        @include m.sombra;
        background-color: v.$blanco;
        padding: 2rem;
        border-radius: 1rem;
    }

}

.tabla{
    width: 100%;
    border-collapse: collapse;

    &__thead{
        background-color: darken(v.$terciario, 10);
        color: v.$principal;
    }

    &__th{
        padding: 1rem;
        text-align: left;
    }

    &__tr{
        &:nth-child(even){
            background-color: lighten(v.$terciario, 5);
        }
    }

    &__td{
        padding: 1.5rem 1rem;
    }

}
