@use 'base/mixins' as m;
@use 'base/variables' as v;

.datos{

    &__contenedor{
        @include m.sombra;
        background-color: v.$blanco;
        padding: 2rem;
        border-radius: 1rem;
    }

    &__formulario{
        @extend .datos__contenedor;
        @include m.contenedor-md;
    }

    &__contenedor-boton{
        @include m.tablet{
            display: flex;
            justify-content: flex-end;
            margin-bottom: 3rem;
        }
    }

    &__boton{
        @include m.boton(v.$principal, v.$blanco);
        text-transform: uppercase;
        font-size: 1.4rem;
        @include m.tablet{
            width: auto;
        }
    }

}